################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VS2017OfflineSetupUtility/v15
/VS2017OfflineSetupUtility/bin/Debug
/.vs/VS2017OfflineCleanupUtil/v15
/VS2017OfflineSetupUtility/obj/Debug
/VS2017OfflineSetupUtility/obj/Release
